@CHARSET "UTF-8";
body 
{
  background-color:#dbe9f2;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}
.container 
{
    width: 200px; 
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}
.form-login 
{

    background-color: #3e97ca;
    background-image: -webkit-linear-gradient(top, #5ec3f2, #229db3);
  	background-image: -moz-linear-gradient(top, #5ec3f2, #229db3);
  	background-image: -ms-linear-gradient(top, #5ec3f2, #229db3);
  	background-image: -o-linear-gradient(top, #5ec3f2, #229db3);
  	background-image: linear-gradient(to bottom, #5ec3f2, #229db3);
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}
.h4 
{ 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}
input[type="text"] 
{
    width: 150px;
    height: 20px;
    display: block;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;

}
input[type="password"] 
{
    width: 150px;
    height: 20px;
    display: block;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;

}
.wrapper 
{
	padding: 5px 5px 5px 5px;
    text-align: center;
}