@CHARSET "UTF-8";

body
{
	background: url('D:/Apki Java 5 semestr/WebApplication/WebContent/css/original.jpg') top  no-repeat; background-attachment:fixed;
	background-size: 100% 100%;
	color: black;
	margin: 0 !important;
}
.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: auto;
}
.header
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 60px;
}
.logo
{
	color: white;
	float: left;
	font-size: 40px;
	margin: 5px auto 5px 30px;
	text-align: center;
	font-family: Georgia;
}
.signin
{
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #ffffff, #9fb6c4);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	border: solid #0E658A 2px;
	text-shadow: 1px 1px 3px #f0e8f0;
	font-family: Georgia;
	color: #0a010a;
	font-size: 15px;
	text-decoration: none;
  	margin-right: 0px;
  	width: 100px;
 	margin: 10px 10px 10px 5px;
 	height: 40px;
 	text-align: center;
 	float: right;
}

.signin:hover 
{
  	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
 	text-decoration: none;
}

.login
{
	
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #ffffff, #9fb6c4);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	border: solid #0E658A 2px;
	text-shadow: 1px 1px 3px #f0e8f0;
	font-family: Georgia;
	color: #0a010a;
	font-size: 15px;
	text-decoration: none;
	float: right;
  	width: 100px;
 	margin: 10px 5px 10px 10px;
 	height: 40px;
 	text-align: center;
}

.login:hover 
{
  	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
 	text-decoration: none;
}

.user-panel
{
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #ffffff, #9fb6c4);
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
	border: solid #0E658A 2px;
	text-shadow: 1px 1px 3px #f0e8f0;
	font-family: Georgia;
	color: #0a010a;
	font-size: 15px;
	text-decoration: none;
	float: right;
  	width: 100px;
 	margin: 15px 5px 15px 10px;
 	height: 30px;
 	text-align: center;
}
.menu
{

  	padding: 10px 0;
	text-align: center;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 20px;
	height: 35;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: black;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 200px;
	height: 40px;
	border-right: 2px groove;
}

ol > li:first-child
{
	border-left: 2px groove;
}

ol > li:hover
{
	background: #81c9db
}
.content
{
	background-color: #DAEEF9;
 	background-image: -webkit-linear-gradient(right, 92B7D6, #2E95D8);
 	background-image: -moz-linear-gradient(top, #f9fbfc, #5DBAE5);
 	background-image: -ms-linear-gradient(top, #f9fbfc, #5DBAE5);
  	background-image: -o-linear-gradient(top, #f9fbfc, #5DBAE5);
  	background-image: linear-gradient(to left, #f9fbfc, #2E95D8);
  	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: Verdana;
	font-size: 20px;
	min-height: 800px;
	padding: 20px 40px 20px 40px;
	
}
.content p
{
	margin: 0px 40px 0px 40px;
	padding-top: 5mm;
} 
.content .map
{
	margin: 20mm auto 0 auto;
	position: center;
	height: 70%; 
	width : 60%;	
}
.searchSpecA
{
	padding-top: 15mm;
	width: 460px;
	height: 150px;	
	float: left;
	text-align: center;
}

.searchSpecB .input
{
	margin-right: 40px;
}
.searchSpecB
{
	padding-top: 15mm;
	width: 460px;
	height: 150px;	
	float: left;
	text-align: center;
	
}
.results
{
	clear: both;
	height: 700px;
	background-color: F0FBFF;
	border-width: 1px 1px 0px 1px;
	border-style: inset;
}

.results .record
{
	width: 227.5px;
	height: 35px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	float: left;
	text-align: center;
	
}
.results .label
{
	width: max;
	padding: 10px 20px 30px 10px;
}

.result .columnsLabel
{
	width: 227.5px;
	height: 35px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	float: left;
	text-align: center;
	
}

.user_profil_left_side
{
	width: 230px;
	height: 500px;	
	float: left;
}
.user_profil_left_side .up
{
	height: 260px;
	background-color: #f0f0f0;
}
.user_profil_left_side .pictureField
{
	height: 200px;
	background-color: #f0f0f0;
}
.user_profil_left_side .chooseField
{
	height: 40px;
	background-color: #f0f0f0;
	position: center;
	margin-left: 10px;
	margin-right: auto;
	float: left;
}

.user_profil_left_side .chooseField .upload
{
	width: 200px;
	border-radius: 4px;
	font-family: Arial;
	color: #3498db;
	background: #f0f0f0;
	<-- opacity: 0 !important; ->>
	width: 220px;
	border-bottom: solid #bdbdbd 1px;
	border-left: solid #bdbdbd 1px;
	text-decoration: none;
}

.user_profil_left_side .down
{
	height: 280px;
	background-color: #f0f0f0;
	padding-left: 10px;
}

.user_profil_right_side
{
	width: 690px;
	height: 500px;	
	float: left;
	background-color: white;
}

.user_profil_right_side .profile_content
{
	margin: 20px 40px 20px 60px;
}

.user_profil_right_side .viewWizyta
{
	width: 115px;
	height: 35px;
	font-size: 14px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	float: left;
	text-align: center;
	overflow: auto;
	
}

.ver_menu 
{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px;
	font-family: Arial;
	color: #3498db;
	font-size: 20px;
	background: #f0f0f0;
	padding: 10px 20px 10px 20px;
	width: 220px;
	border-bottom: solid #bdbdbd 1px;
	border-left: solid #bdbdbd 1px;
	text-decoration: none;
}
.ver_menu:first-child
{
  border-top: solid #bdbdbd 1px;
}

.ver_menu:hover 
{
  background: #ffffff;
  color: black;
  text-decoration: none;
}
.show_spec_left_side
{
	width: 230px;
	height: 500px;	
	float: left;
}
.show_spec_left_side .up
{
	height: 220px;
	background-color: #ffffff;
}

.show_spec_left_side .down
{
	height: 280px;
	background-color: #f0f0f0;
	padding-left: 10px;
}

.show_spec_left_side .down .wizyta
{
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	border-radius: 15px;
	border: solid #1f628d 2px;
	text-shadow: 1px 1px 3px #f0e8f0;
	font-family: Georgia;
	color: #0a010a;
	font-size: 18px;
	text-decoration: none;
	position: center;
  	width: 130px;
 	height: 40px;
 	margin-left: 10mm;
	margin-top: 25mm;
}

.show_spec_right_side
{
	width: 688px;
	height: 700px;	
	float: left;
	background-color: white;
}
.show_spec_right_side .spec_describe
{
	margin-left: 10mm;
	margin-top: 5mm;
	font-size: 13px;
	width: 500px;
	height: 150px;	
	overflow: auto;
	line-width: 130px;
	word-wrap: break-word;
	border: solid #bdbdbd 1px;
}

.error
{
	font-family: "Times New Roman";
	font-size: 15px;
	font-style: bold;
	padding: 10px 0px 5px 0px;
	color: red;
}

.contactSideLeft
{
	padding-top: 7mm;
	width: 460px;
	height: 350px;	
	float: left;
	text-align: left;
	background-color: yellow;
}

.contactSideRight
{
	padding-top: 7mm;
	width: 460px;
	height: 350px;	
	float: left;
	text-align: center;
	background-color: red;
}

.contactSideRight .spec_describe
{
	margin-left: 10mm;
	margin-top: 5mm;
	font-size: 13px;
	width: 500px;
	height: 150px;	
	overflow: auto;
	line-width: 130px;
	word-wrap: break-word;
	border: solid #bdbdbd 1px;
}
.contactSideRight .input[type="text"]
{
		    width: 100px; 
		    color: blue; 
		    background-color: #98FB98;
		    border: 2px ridge darkgreen;
		    font-family: Verdana,sans-serif;
		    font-size: 1em;
		    font-style: italic;
		    padding: 4px;
		    text-align: center; 
		    
}
.pasteOpis
{

}
.wizytaForm
{
	width: 500px;
	height: 500px;
	border-radius: 10px;
	border-width: 1px;
	border-style: ridge;
	border-color: #D5DBDE;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5mm;
}

.wizytaForm .wizyta
{
	background-image: -webkit-linear-gradient(top, #FFFFFF, #3498db);
  	background-image: -moz-linear-gradient(top, #FFFFFF, #3498db);
  	background-image: -ms-linear-gradient(top, #FFFFFF, #3498db);
  	background-image: -o-linear-gradient(top, #FFFFFF, #3498db);
	border-radius: 15px;
	border: solid #1f628d 2px;
	text-shadow: 1px 1px 3px #f0e8f0;
	font-family: Georgia;
	color: #0a010a;
	font-size: 18px;
	text-decoration: none;
	position: center;
  	width: 130px;
 	height: 40px;
 	margin-left: 10mm;
	margin-top: 25mm;
}